@import url('https://fonts.googleapis.com/css2?family=Raleway');

body{
  font-family: 'Raleway', sans-serif;
  background-image: url('./image/sun-pattern.png');
  margin: 0;
  font-weight: 900;
  line-height: 2.5;

}

.our-content {
  font-family: 'Raleway', sans-serif;
  line-height: 2.5em;
  font-weight: 900;
  max-width: 600px;
  margin: auto;
  padding-top: 71px;
  padding-bottom: 80px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

li {
  float: left;
}

.active {
  background-color: orange;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
li a:hover {
  background-color: #111;
}

h2 {
  text-align: center;
}
h1 {
  text-align: center;
}

/* #cta {
  max-width: 350px;
  margin: auto;
}

button:hover {
  background-color: orange;
} */